/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 72%, rgba(13,37,245,1) 100%);
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    font-family: 'Varela', sans-serif;
    font-weight: bold;
    padding: 25px;
    margin: 25px 10px;
    /* font-size: 4vw; */
  }
form div{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 25px;
  justify-content: space-around;
}
.group{
  display:flex;
  flex-direction: column;
}
form .radioItem{
  /*border:solid;*/
  margin-right: 20px;
  justify-content: space-around;
  transform:scale(1.5);
}
button {
  padding: 15px 25px;
  border-radius: 5px;
  }
  